.layout {
  &__header {
    background: #fff;
    display: flex;
    align-items: center;
    height: 70px;
    top: 0;
    transition: top .3s;
    position: sticky;
    z-index: 99;
  }

  &__logo {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    &--fold {
      width: 80px;
    }
  }

  &__nav {
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }

  &__icon-collapse {
    font-size: 18px;
    cursor: pointer;
  }

  &__sider {
    height: calc(100vh - 70px);
    position: fixed!important;
    top: 70px;
    left: 0;
  }

  &__content {
    background: #fff; //
    padding: 50px;
    padding-bottom: 150px;
    padding-left: 200px;
    transition: all .2s;

    &--full {
      padding-left: 80px;
    }
  }

  &__footer {
    background: #fff;
    transition: ease-in-out .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;

    &--full {
      margin-left: 80px;
    }
  }
}

.pad-lr-0 {
  padding-left: 0;
  padding-right: 0;
}