.user-info {
  background-color: #e3cd8371;

  &:hover {
    transform: scale(1.1) ;
    background-color: #dfbe5287;
  }

  svg {
    font-size: 2rem;
    color: #fff;
  }
}

.info-input {
  margin: .5rem 0;
  width: 28rem;
}
