.time {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 2rem;

  &__display {
    font-family: monospace;
    font-size: 1.1rem;
    height: 100%;
    color: #fff;
    // margin-left: .5rem;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    padding: .2rem;
    margin: 0 .4rem;
    background-color: #8DADB8;
    border-radius: 50%;
    transition: all .3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      background-color: #a5bcc5;
    }
    
    svg {
      color: #fff;
      font-size: .7rem;
    }
  }
}